

<ion-header>
  <ion-toolbar style="--background: #F6BA4B; padding-top: 10px; padding-bottom: 10px;">
    <ion-buttons slot="end">
      <ion-menu-button style="--color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img class="h-10 w-10 mt-3 ms-2 m-2" src="assets/images/logojpeg.jpeg" alt="User Avatar">
    </ion-avatar>
    <ion-label>
      <ion-title style="--color: #fff;">Matières - {{ classe }}</ion-title>
    </ion-label>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="none" class="bg-transparent">
    <ion-grid>
      <ion-row>
         <ion-col size="12" size-md="6"  *ngFor="let subject of subjects">
          <!-- <ion-item  (click)="openLessons(subject); adService.handleClick()" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <ion-img [src]="subjectImages[subject]" class="rounded-t-lg"></ion-img>
            <div class="p-5">
              <ion-label class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ subject }}</ion-label>
            </div>
          </ion-item> -->

          <ion-card (click)="openLessons(subject); adService.handleClick()" class="bg-jagalma-orange max-w-sm subject-item">
            <ion-card-content>
              <!-- <ion-grid> -->
                <ion-row>
                  <ion-col size="6">
                    <div class="flex flex-col justify-between items-center leading-normal">
                      <ion-card-title class="subject-title text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ subject }}
                        <p class="font-normal text-sm text-white">{{classe}}</p>
                      </ion-card-title>
                    </div>
                  </ion-col>
                  <ion-col size="4">
                    <img alt="object-cover w-8  h-8 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" [src]="subjectImages[subject]"/>
                  </ion-col>
                </ion-row>
              <!-- </ion-grid> -->
            </ion-card-content>

          </ion-card>
         </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-list>
</ion-content>


