<ion-header>
  <ion-toolbar   style="--background: #F6BA4B;">
    <ion-title style="--color: #fff;">Changer le mot de passe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" style="--color: #fff;">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="p-4" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <ion-list class="bg-transparent">
      <ion-item>
        <ion-label position="floating">Ancien mot de passe</ion-label>
        <ion-input formControlName="oldPassword" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nouveau mot de passe</ion-label>
        <ion-input formControlName="newPassword" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmer le nouveau mot de passe</ion-label>
        <ion-input formControlName="confirmPassword" type="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button shape="round" size="default" class="ion-margin-top"
    style="--background: #F6BA4B; color: #ffffff;" type="submit" [disabled]="!changePasswordForm.valid">
      Mettre à jour le mot de passe
    </ion-button>
  </form>
</ion-content>
