<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="categoryData">
    <ion-card-header>
      <ion-card-title>{{ categoryData.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ categoryData.description }}</p>
    </ion-card-content>
  </ion-card>

  <div class="courses-grid">
    <div *ngFor="let course of courses">
      <ion-card>
        <img [src]="course.thumbnail" />
        <ion-card-header>
          <ion-card-title>{{ course.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p [innerHTML]="course.content"></p>
          <a [href]="course.link" target="_blank" rel="noopener noreferrer">Voir le cours</a>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
