<ion-modal #modall trigger="openmodal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Politique de confidentialité</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modall.dismiss()">Fermé</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
  <h1>Politique de confidentialité</h1>
  <p>
    Cette politique de confidentialité explique comment l'application
    <strong>Jangalma</strong> (plateforme éducative), collecte, utilise, partage et protège
    les données personnelles et confidentielles des utilisateurs. En utilisant notre
    application, vous acceptez les termes de cette politique.
  </p>

  <h2>Entité responsable</h2>
  <p>
    Cette application est développée par l'entreprise <strong>Jangalma</strong>, mentionnée
    sur la fiche Google Play de l'application. Pour toute question relative à cette
    politique, vous pouvez nous contacter via :
  </p>
  <ul>
    <li>Email : <a href="mailto:contact@jangalma.net">{{email}}</a></li>
  </ul>

  <h2>Types de données collectées</h2>
  <p>
    Notre application collecte les données suivantes :
  </p>
  <h3>Données personnelles :</h3>
  <p>
    Lors de l’inscription, l’utilisateur fournit les informations suivantes :
    <em>Nom, prénom, email, ville, téléphone, code téléphone, la classe de l'élève et son
    mot de passe.</em>
  </p>

  <h2>Utilisation des données collectées</h2>
  <p>
    Nous utilisons les données collectées pour :
  </p>
  <ul>
    <li>Fournir et améliorer les fonctionnalités de l'application.</li>
    <li>Diagnostiquer et corriger des problèmes techniques.</li>
    <li>Assurer une expérience personnalisée pour chaque utilisateur.</li>
  </ul>

  <h2>Partage des données</h2>
  <p>
    Vos données personnelles ne seront jamais vendues à des tiers. Nous partageons
    certaines informations uniquement dans les cas suivants :
  </p>
  <ul>
    <li>
      Avec Firebase, pour le stockage et la gestion des données dans un environnement
      sécurisé.
    </li>
  </ul>

  <h2>Sécurité des données</h2>
  <p>
    Nous mettons en œuvre des mesures de sécurité pour protéger vos données contre les
    accès non autorisés, modifications, divulgations ou destructions. Ces mesures
    incluent :
  </p>
  <ul>
    <li>Le cryptage des données transmises et stockées.</li>
    <li>L’utilisation de protocoles sécurisés pour l’échange d’informations.</li>
  </ul>

  <h2>Politique de conservation des données</h2>
  <p>
    Nous conservons les données personnelles aussi longtemps que nécessaire pour
    fournir nos services ou pour d’autres fins essentielles comme le respect des
    obligations légales. Les utilisateurs peuvent demander la suppression de leurs
    données en contactant <a href="mailto:contact@jangalma.net">{{email}}</a>.
  </p>

  <h2>Droits des utilisateurs</h2>
  <p>
    Les utilisateurs ont les droits suivants concernant leurs données :
  </p>
  <ul>
    <li>Accéder à leurs données personnelles collectées.</li>
    <li>Demander leur modification ou leur suppression.</li>
    <li>Accéder aux cours et aux livres.</li>
  </ul>

  <h2>Accès à la politique de confidentialité</h2>
  <p>
    Cette politique de confidentialité est accessible à tout moment via une URL
    publique et active : <a href="https://jangalma.net/confidentialité.html">https://jangalma.net/confidentialité/</a>.
  </p>

  <h2>Mises à jour de cette politique</h2>
  <p>
    Nous pouvons mettre à jour cette politique de confidentialité pour refléter des
    changements dans nos pratiques ou pour d’autres raisons opérationnelles, légales ou
    réglementaires. Toute modification sera publiée sur cette page et prendra effet
    immédiatement après sa publication.
  </p>

  <h2>Contactez-nous</h2>
  <p>
    Pour toute question ou préoccupation concernant cette politique, contactez-nous à :
  </p>
  <ul>
    <li>Email : <a href="mailto:contact@jangalma.net">{{email}}</a></li>
  </ul>
</ion-content>
</ng-template>
</ion-modal>