
.header-classe{
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: -2px 2px 10px;
}

// .subject-title {
//   font-size: 13px;
//   font-weight: bold;
//   text-align: center;
//   color: #fff;
// }

ion-card{
  box-shadow:none;
  border-radius: 16px;
}

.subject-title {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin: auto;
}